{% extends 'public/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <p>Veuillez nous indiquer votre adresse email pour que nous puissions vous envoyer un lien de réinitialisation de mot de passe.</p>
      <form action="{% url 'public:password_forgotten' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="center row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Demander
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
