<div class="section">
  <h2 align="center">Faire une soumission</h2>
  <form id="submit-form" enctype="multipart/form-data" action="{% url 'public:make_submission' %}" method="POST">
    {% csrf_token %}
    <div class="file-field input-field">
      <div class="row">
        <div class="col s12 m6 offset-m2">
          <div class="btn">
            <span><i class="fa fa-file-text-o"></i> Choisir un fichier</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="col s4 offset-s4 m3">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="fa fa-cloud-upload"></i> Soumettre
          </button>
        </div>
      </div>
    </div>
  </form>
<!--   <div class="row">
    <div class="col s8 offset-s2">
      <div class="progress">
        <div class="determinate" style="width: 0%"></div>
      </div>
    </div>
  </div> -->
</div>
