<div class="section">
  <h2>Votre équipe</h2>
  <div class="section">
    <div id="container" style="width:100%; height:400px;"></div>
  </div>
  <div class="section">
    <ul class="collection with-header">
      <li class="collection-header"><h3>Membres</h3></li>
      {% for member in team_members %}
        <li class="collection-item"><div>{{ member.full_name }}{% if member.is_captain %}<a href="#!" class="secondary-content"><i class="material-icons">assignment_ind</i></a>{% endif %}</div></li>
      {% endfor %}
    </ul>
  </div>
</div>
