{% extends 'public/base.html' %}

{% block content %}

<ul class="collection">
  <li class="collection-item">
    <h5>Quelles sont les modalités et les étapes du concours ?</h5>
    <p>Nous vous mettons à disposition, à partir du <b>mercredi 5 octobre 2016 à 10 heures</b>, des données d'entraînement allant du 1er avril au 5 octobre à 10 heures. Nous vous fournissons un fichier de test à remplir et à soumettre à partir de votre espace compte. Vous pouvez faire autant de soumissions que vous le voulez, le tableau des scores sur la page d'accueil classera les équipes selon leur meilleur score.</p>
    <p>Le <b>12 janvier 2017</b>, nous vous fournirons de nouvelles données et un nouveau fichier test à remplir. Vous pourrez alors faire une soumission qui sera celle qui détermine le gagnant du concours. Vous pourrez faire autant de soumissions que vous le souhaitez, cependant seulement la dernière soumission sera prise en compte. Vous aurez jusqu'au 20 janvier pour soumettre une réponse.</p>
    <p>La solution finale que vous nous enverrez en janvier devra inclure un fichier CSV réponse et le code qui a servi à générer ce fichier réponse. Vous pouvez utiliser le langage de programmation qui vous plaît. Il va de soit qu'un fichier réponse ne sera pas pris en compte si vous ne l'avez pas généré à partir de votre programme (par exemple en remplissant le fichier manuellement). Nous vous encourageons aussi à nous fournir un code lisible et commenté, bien que ces critères ne rentrent pas en jeu pour le classement final.</p>
  </li>
  <li class="collection-item">
    <h5>Pourquoi est-ce qu'une erreur s'affiche lorsque j'essaye de soumettre un fichier réponse ?</h5>
    <p>Vous avez simplement à remplir les cellules vides dans le fichier réponse que nous vous fournissons. N'essayez pas de changer des cellules pré-existantes ou bien de changer l'encodage initial (UTF-8) du fichier.</p>
    <p> Votre fichier réponse <b>test_filled.csv</b> doit avoir la forme : <br>
      <pre style='color:#000000;'><span>,</span>city<span>,</span>station<span>,</span>bikes
2016-10-05 10:10:00,toulouse,00229-iut-rangueil,7
2016-10-05 10:30:00,toulouse,00229-iut-rangueil,10
2016-10-05 11:00:00,toulouse,00229-iut-rangueil,3
2016-10-05 12:00:00,toulouse,00229-iut-rangueil,4
2016-10-05 14:00:00,toulouse,00229-iut-rangueil,12
2016-10-05 18:00:00,toulouse,00229-iut-rangueil,8
2016-10-06 10:00:00,toulouse,00229-iut-rangueil,14
2016-10-07 10:00:00,toulouse,00229-iut-rangueil,17
2016-10-08 10:00:00,toulouse,00229-iut-rangueil,3
2016-10-09 10:00:00,toulouse,00229-iut-rangueil,9
2016-10-05 10:10:00,toulouse,00189-muret-boutinon,0
2016-10-05 10:30:00,toulouse,00189-muret-boutinon,7
2016-10-05 11:00:00,toulouse,00189-muret-boutinon,4
..<span>.</span>
      </pre>
    </p>
  </li>
  <li class="collection-item">
    <h5>Comment évaluez-vous le score d'un fichier réponse ?</h5>
    <p>Lorsque vous soumettez un fichier réponse, un programme parcourt le fichier ligne par ligne et compare chaque ligne à un fichier qui contient les réponses exactes que nous possédons. A chaque ligne le programme calcule l'erreur entre votre réponse et la réalité. C'est la moyenne des erreurs absolues qui est prise en compte; de cette façon vous pourrez interpréter cela comme "mon modèle a une erreur de prédiction de 2.7 vélos".</p>
  </li>
  <li class="collection-item">
    <h5>Pourquoi est-ce que le tableau des scores ne se met pas à jour lorsque je fais une soumission ?</h5>
    <p>Pour diverses raisons, le score associé à un fichier réponse n'est pris en compte qu'une heure après la soumission du fichier.</p>
  </li>
  <li class="collection-item">
    <h5>Est-ce que l'on peut utiliser des données externes (évènements culturels, données météos plus fines) ?</h5>
    <p>Non, ce n'est pas autorisé.</p>
  </li>
</ul>

<p class="flow-text">Pour tout renseignement quel qu'il soit, vous pouvez envoyer un e-mail à <a href="mailto:contact.openbikes@gmail.com"><b>contact.openbikes@gmail.com</b></a>.</p>

{% endblock %}
