<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel teal footer-card">
          <div class="row center">
            <h5 class="white-text">Partenaires</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="http://www.groupe-insa.fr/">Groupe INSA</a></li>
                <li><a class="grey-text text-lighten-3" href="http://www.isae.fr/">ISAE - SUPAERO</a></li>
                <li><a class="grey-text text-lighten-3" href="http://ecole.tse-fr.eu/">Toulouse School of Economics</a></li>
                <li><a class="grey-text text-lighten-3" href="http://www.univ-tlse3.fr/">Université Paul Sabatier</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.u-bordeaux.fr/">Université de Bordeaux</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel teal footer-card">
          <div class="row center">
            <h5 class="white-text">Frameworks ML</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://topepo.github.io/caret/index.html">caret</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.h2o.ai/">H20</a></li>
              <li><a class="grey-text text-lighten-3" href="https://keras.io/">Keras</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.knime.org/knime-analytics-platform">KNIME</a></li>
              <li><a class="grey-text text-lighten-3" href="http://scikit-learn.org/stable/">scikit-learn</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.cs.waikato.ac.nz/ml/weka/">WEKA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="center container">
    Made by <a class="orange-text text-lighten-3" href="https://github.com/OpenBikes">OpenBikes</a>
    </div>
  </div>
</footer>

<style>
.footer-card {
    height: 220px;
    padding-left: 40px;
    padding-right: 40px;
}
</style>
